<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="common/head :: common_head(${party.name})"></div>
<body>
<header sec:authorize="hasRole('USER')" th:replace="common/header :: common_header"></header>
<div class="container serif">

    <p class="alert" th:classappend="${'alert-' + message.type}" th:if="${message != null}" th:utext="${message.body}">
        メッセージ</p>

    <h1 id="title" class="content">
        <span class="transitional">WEDDING<br/>AFTER PARTY</span>
        <span id="invitation" class="hand-writing">Invitation</span>
        <p>
            <span class="transitional gray-border rem3">NORIHITO</span>
            <span class="hand-writing gray short-height">&amp;</span>
            <span class="transitional gray-border rem3">ERI</span>
        </p>
    </h1>

    <div id="date" class="content">
        <span class="hand-writing" th:text="${#dates.format(party.date,'yyyy/MM/dd')}">yyyy-mm-dd</span>
        <span class="hand-writing day-of-week">Sun.</span>
    </div>

    <a href="#rsvp" class="button button-block button-primary">出席連絡する</a>

    <picture class="picture">
        <source media="(min-width: 1200px)" srcset="/img/pic1.png"/>
        <source media="(min-width: 550px)" srcset="/img/pic1-1000.png, /img/pic1-1000@2x.png 2x"/>
        <img src="/img/pic1-400.png" srcset="/img/pic1-550.png, /img/pic1-550@2x.png 2x"/>
    </picture>

    <div id="content" class="content">
        <h2>Just Married</h2>
        <p>
            結婚式二次会のお知らせです<br/>
            日頃お世話になっているみなさまへ<br/>
            感謝の気持ちを込めて開催いたしますので、<br/>
            ぜひご参加いただきたくご案内申し上げます<br/>
            当日会場でお会いできることを、<br/>
            心より楽しみにしております
        </p>
        <p>
            2018年3月吉日<br/>
            木村憲仁　福田恵里
        </p>
    </div>

    <div id="information" class="content">
        <h2>Information</h2>
        <p>
            <span class="rem2" th:text="${#dates.format(party.date,'yyyy/MM/dd')}">yyyy-mm-dd</span>
            <span class="rem2 day-of-week">Sun.</span><br/>
            <span>Open 16:30</span><br/>
            <span>Start 17:00</span><br/>
        </p>
        <p>
            <span class="rem2">TRUNK<br/>by SHOTO GALLERY</span><br/>
            <span th:text="${place.address}">住所</span>
        </p>
        <p>
            <span>会費制</span><br/>
            <span>男性：8,000円</span><br/>
            <span>女性：7,000円</span><br/>
        </p>
    </div>

    <div id="access" class="content">
        <h2>Access</h2>
        <p>
            <b>電車でお越しの方</b><br/>
            半蔵門線・銀座線・JR・東急東横線・田園都市線<br/>
            渋谷駅より徒歩5分<br/>
            <br/>
            <b>お車でお越しの方</b><br/>
            首都高速3号線渋谷IC下車、文化村方面5分<br/>
            駐車場 近隣利用(有料)<br/>
        </p>
    </div>
    <iframe id="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.62643990721!2d139.6935293156562!3d35.66157428019894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cabe5baf157%3A0x2bc2af9dbf4eb36f!2sTRUNK+BY+SHOTO+GALLERY!5e0!3m2!1sja!2sjp!4v1520267002800"
            frameborder="0" style="border:0" allowfullscreen></iframe>

    <div id="rsvp" class="content">
        <h2>R.S.V.P</h2>
        誠にお手数ではございますが<br/>
        当日のご都合の程を以下の回答フォームより<br/>
        4月8日(日)までに<br/>
        出席情報のご登録をお願い申し上げます<br/>
    </div>

    <form method="post" th:action="@{'/parties/' + ${hash}}" th:object="${form}">
        <p>
            <small>* 必須項目</small>
        </p>

        <div class="row">
            <div class="xs six columns">
                <span class="error-msg" th:if="${#fields.hasErrors('lastName')}"
                      th:errors="*{lastName}">Name error</span>
            </div>
            <div class="xs six columns">
                <span class="error-msg" th:if="${#fields.hasErrors('firstName')}"
                      th:errors="*{firstName}">Name error</span>
            </div>
        </div>
        <div class="row">
            <div class="xs six columns">
                <label for="sei">* 姓</label>
                <input id="sei" class="u-full-width" type="text" th:field="*{lastName}" th:errorclass="error"
                       autocomplete="family-name"/>
            </div>
            <div class="xs six columns">
                <label for="sei">* 名</label>
                <input id="mei" class="u-full-width" type="text" th:field="*{firstName}" th:errorclass="error"
                       autocomplete="given-name"/>
            </div>
        </div>

        <span class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</span>
        <label for="email">* E-mail</label>
        <input id="email" class="u-full-width" type="email" th:field="*{email}" th:errorclass="error"/>

        <div class="row">
            <label class="xs six columns">
                <input type="radio" name="attendance" th:value="${true}" th:field="*{attendance}"
                       th:errorclass="error"/>
                <span class="label-body">出席</span>
            </label>
            <label class="xs six columns">
                <input type="radio" name="attendance" th:value="${false}" th:field="*{attendance}"
                       th:errorclass="error"/>
                <span class="label-body">欠席</span>
            </label>
        </div>

        <div class="row">
            <label class="xs six columns">
                <input type="radio" name="gender" th:value="${true}" th:field="*{gender}" th:errorclass="error"/>
                <span class="label-body">男性</span>
            </label>
            <label class="xs six columns">
                <input type="radio" name="gender" th:value="${false}" th:field="*{gender}" th:errorclass="error"/>
                <span class="label-body">女性</span>
            </label>
        </div>

        <div class="row">
            <label class="xs six columns">
                <input type="radio" name="side" th:value="${true}" th:field="*{side}" th:errorclass="error"/>
                <span class="label-body">新郎側ゲスト</span>
            </label>
            <label class="xs six columns">
                <input type="radio" name="side" th:value="${false}" th:field="*{side}" th:errorclass="error"/>
                <span class="label-body">新婦側ゲスト</span>
            </label>
        </div>

        <span class="error-msg" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">Name error</span>
        <label for="postal-code">郵便番号</label>
        <div class="row">
            <input id="postal-code" class="three columns" type="text" th:field="*{postalCode}" th:errorclass="error"
                   autocomplete="postal-code"/>
        </div>

        <span class="error-msg" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name error</span>
        <label for="address">住所</label>
        <input id="address" class="u-full-width" type="text" th:field="*{address}" th:errorclass="error"/>

        <label for="message">お祝いメッセージ</label>
        <textarea id="message" class="u-full-width" th:field="*{message}" th:errorclass="error"></textarea>

        <input class="u-full-width" type="submit" value="確認"/>
    </form>
</div>
<footer th:replace="common/footer :: common_footer"></footer>
</body>
</html>
