.container {
    padding-top: 20px;
    overflow: hidden;
}

.xs.six.columns {
    width: 48%;
}

.xs.column, .xs.columns {
    margin-left: 4%;
}

.xs.column:first-child, .columns:first-child {
    margin-left: 0;
}

.xs {
  &.column,
  &.columns {
    margin-left: $column-margin;
  }
  &.column:first-child,
  &.columns:first-child {
    margin-left: 0;
  }

  &.one.column,
  &.one.columns         { width: grid-column-width(1);  }
  &.two.columns         { width: grid-column-width(2);  }
  &.three.columns       { width: grid-column-width(3);  }
  &.four.columns        { width: grid-column-width(4);  }
  &.five.columns        { width: grid-column-width(5);  }
  &.six.columns         { width: grid-column-width(6);  }
  &.seven.columns       { width: grid-column-width(7);  }
  &.eight.columns       { width: grid-column-width(8);  }
  &.nine.columns        { width: grid-column-width(9);  }
  &.ten.columns         { width: grid-column-width(10); }
  &.eleven.columns      { width: grid-column-width(11); }
  &.twelve.columns      { width: 100%; margin-left: 0;  }

  &.one-third.column    { width: grid-column-width(4);  }
  &.two-thirds.column   { width: grid-column-width(8);  }

  &.one-half.column     { width: grid-column-width(6);  }
}
