<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_head (title)">
    <meta charset="utf-8"/>
    <meta name="author" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" href="favicon.ico"/>
    <link rel="stylesheet" href="/css/modern-normalize.min.css" th:href="@{/css/modern-normalize.min.css}"/>
    <link rel="stylesheet" href="/css/skeleton.min.css" th:href="@{/css/skeleton.min.css}"/>
    <link rel="stylesheet" href="/css/skeleton.min.css" th:href="@{/css/ext.css}"/>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Libre+Baskerville:700" rel="stylesheet">
    <title th:text="${title}?:'eo wedding'">タイトル</title>
</head>
</html>
