<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_head (title)">
    <meta charset="utf-8"/>
    <meta name="author" content="eo wedding"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- HTML Meta Tags -->
    <meta name="description"
          content="Just Married 結婚式二次会のお知らせです日頃お世話になっているみなさまへ感謝の気持ちを込めて開催いたしますので、ぜひご参加いただきたくご案内申し上げます">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Nori & Eri's Wedding">
    <meta itemprop="description"
          content="Just Married 結婚式二次会のお知らせです日頃お世話になっているみなさまへ感謝の気持ちを込めて開催いたしますので、ぜひご参加いただきたくご案内申し上げます">
    <meta itemprop="image" content="http://eo-wedding.com/img/pic1.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://eo-wedding.com/parties/9BKviZmm">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Nori & Eri's Wedding">
    <meta property="og:description"
          content="Just Married 結婚式二次会のお知らせです日頃お世話になっているみなさまへ感謝の気持ちを込めて開催いたしますので、ぜひご参加いただきたくご案内申し上げます">
    <meta property="og:image" content="http://eo-wedding.com/img/pic1.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Nori & Eri's Wedding">
    <meta name="twitter:description"
          content="Just Married 結婚式二次会のお知らせです日頃お世話になっているみなさまへ感謝の気持ちを込めて開催いたしますので、ぜひご参加いただきたくご案内申し上げます">
    <meta name="twitter:image" content="http://eo-wedding.com/img/pic1.png">

    <!-- Meta Tags Generated via http://heymeta.com -->


    <link rel="icon" href="/img/favicon.ico" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" href="/css/style.min.css" th:href="@{/css/style.min.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Libre+Baskerville:400,700" rel="stylesheet">
    <title th:text="${title}?:'eo wedding'">タイトル</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64303218-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-64303218-6');
    </script>
</head>
</html>
