// これらの@mixinはclassでもいいかも
@mixin sp-wide {
  width: 100vw;
  margin: 0 -20px;
  
  @include tablet {
    width: 100%;
    margin: 0;
  }
}

@mixin wide {
  width: 100vw;
  margin: 0 -20px;
  
  @include tablet {
    margin: 0 -10vw;
  }
  @include pc {
    margin: 0 calc(480px - 50vw);
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin square-bg($image, $tablet-image, $pc-image) {
  min-height: calc(100vw - 20px); /* 正方形にする */
  background-image: url($image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include tablet {
    min-height: 0;
    height: 80vw;
    background-image: url($tablet-image);
  }

  @include pc {
    background-image: url($pc-image);
  }
}

/* -------------------------------------------------------------------------- */

body {
  @include flex-column;
  min-height: 100vh;

  & > .container {
    flex: 1;
  }

  // @include tablet {
  //   overflow: visible;
  //   .container {
  //     overflow: visible;
  //   }
  // }
}

/* Contents */
.content {
  text-align: center;
  margin-bottom: 20px;
}

picture, .picture {
  @include sp-wide;
  img {
    // margin: 0 calc((100vw - 550px) / 2);
    width: 100%;
    margin: 0;
  }

  @include tablet {
    img {
      width: 100%;
      margin: 0;
    }
  }
}

#title {
  @include flex-column;
  @include square-bg("/img/bg5-400@2x.png", "/img/bg5-1000@2x.png", "/img/bg5.png");
  line-height: 1;

  p {
    margin: 0;
  }
}

#date {
  margin-top: -9px;
  font-size: 4.0rem;

  .day-of-week {
    font-size: 0.6em; /* 相対指定 */
  }
}

#content {
  background-image: url("/img/bg1-400@2x.png"), url("/img/bg2-400@2x.png");
  background-repeat: no-repeat;
  background-position: -5% top, 130% bottom;
  background-size: 20%, 40%;
  // margin: 30px -20px 0;

  @include tablet {
    background-position: left top, right bottom;
    background-size: 15%, 30%;
  }
}

#information {
  @include flex-column;
  @include square-bg("/img/bg3-400@2x.png", "/img/bg3.png", "/img/bg3.png");
  padding: 10px 0;
  line-height: 1;
}

#map {
  height: 300px;
  @include tablet { height: 350px; }
  @include pc { height: 400px; }
  @include wide;
}

#rsvp {
  // margin: 0 -20px 40px;
}
