body {
  line-height: 1.8;
}

.serif {
  font-family: 'Libre Baskerville', "YuGothic", serif;
  color: #565656;
}

// TODO
#invitation {
  margin: -0.5rem 0 1rem 8rem;
}

.transitional {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
}

.hand-writing {
  font-family: 'Great Vibes', cursive;
  font-size: 36px;
}

.gray {
  color: #9B9B9B;
}

.gray-border {
  color: #4A4A4A;
}

.short-height {
  line-height: 0.4;
}

.rem2 {
  font-size: 2rem;
}

.rem3 {
  font-size: 2.7rem;
}
