body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body > .container {
    flex: 1;
}

/* Contents */
.content {
    text-align: center;
    margin-bottom: 40px;
}

.picture {
    width: 100vw;
    margin: 0 -20px;
}

@media (min-width: 400px) {
    .picture {
        margin: 0 -7.5%;
    }
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vw; /* 正方形にする */
    background-image: url("/img/bg5-400@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    line-height: 1;
}

@media (min-width: 400px) {
    #title {
        background-image: url("/img/bg5-1000@2x.png");
    }
}

@media (min-width: 1000px) {
    #title {
        background-image: url("/img/bg5.png");
    }
}

#title p {
    margin: 0;
}

#date {
    margin-top: -20px;
    font-size: 4.0rem;
}

#date #dayOfWeek {
    font-size: 2.0rem;
}

#content {
    background-image: url("/img/bg1.png"), url("/img/bg2.png");
    background-repeat: no-repeat;
    background-position: -5% top, 130% bottom;
    background-size: 20%, 40%;
    margin: 0 -20px 40px;
    padding: 0 20px;
}

#information {
    min-height: 80vw; /* 正方形にする */
    background-image: url("/img/bg3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* filter: saturate(50%) brightness(150%); */
}

#map {
    width: calc(100% + 40px);
    height: 300px;
    margin: 0 -20px;
}

#rsvp {
    background-image: url("/img/bg2.png"), url("/img/bg4.png");
    background-repeat: no-repeat;
    background-position: -20% bottom, 120% top;
    background-size: 40%;
    margin: 0 -20px 40px;
    padding: 0 20px;
}

/* Typography */
body {
    font-family: 'Libre Baskerville', serif;
}

.transitional {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

.hand-writing {
    font-family: 'Great Vibes', cursive;
}

.gray {
    color: #9B9B9B;
}

.gray-border {
    color: #4A4A4A;
    -webkit-text-stroke: 1px #979797;
    /* font-size: 24px; */
}

.short-height {
    line-height: 0.4;
}

.rem2 {
    font-size: 2rem;
}

.rem3 {
    font-size: 3rem;
}

#invitation {
    margin: -0.5rem 0 1rem 8rem;
}

.alert {
    text-align: center;
}